<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <script src="https://kit.fontawesome.com/28f6175930.js" crossorigin="anonymous"></script>        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/imgs/styles.css">
    <title><%= headerText %></title>
</head>
<body>
    <!--Header: navbar area -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><i style="vertical-align: middle;" class="fa-solid fa-laptop-code fa-2x"></i> Notebook Shop</i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-5 pe-2 mb-2 mb-lg-0" style="font-size:1.5rem">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                  </li>                
                </ul>           
              </div>
            </div>
          </nav>
           <!--slide area-->
           <div id="carouselIndicators" data-bs-interval="2000"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" >
              <div class="carousel-item active" style="height:200px;object-fit:fill;">
                <img src="/imgs/slides/slide_1.webp"   style="height:200px;object-fit:fill;" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height:200px;object-fit:fill;">
                <img src="/imgs/slides/slide_2.jpg" style="height:200px;object-fit:fill;" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height:200px;object-fit:fill;">
                <img src="/imgs/slides/slide_3.jpg" style="height:200px;object-fit:fill;" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height:200px;object-fit:fill;">
                <img src="/imgs/slides/slide_4.jpg" style="height:200px;object-fit:fill;" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height:200px;object-fit:fill;">
                <img src="/imgs/slides/slide_5.jpg" style="height:200px;object-fit:fill;" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-interval="false" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </header>