<%- include("partials/header") %>
    <!--Main Area-->
    <main id="main" class="about-us-area">
        <div class="aboutus-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus" style="margin-top:3%;padding:5%;">
                            <h2 class="aboutus-title">About Us</h2>
                            <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                            <a class="btn btn-dark" href="#">read more</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img src="https://blog.hubspot.com/hs-fs/hubfs/best-contact-us-pages-3.jpg?width=595&height=400&name=best-contact-us-pages-3.jpg" style="position:relative;width:20rem;vertical-align: center; height:20rem;margin-top:1rem;" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12" style="margin-top:3%;padding:1%;">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset" style="overflow:hidden; padding:1rem;background-color: #f1f1f1;">
                                        <span class="glyphicon glyphicon-cog icon" style="padding:0.2rem;"><i class="fa-solid fa-gear"></i></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Work with heart</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset" style="overflow:hidden;padding:1rem;background-color: #f1f1f1;">
                                        <span class="glyphicon glyphicon-cog icon" style="padding:0.2rem;"><i class="fa-solid fa-gear"></i></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Reliable services</h4>
                                        <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset" style="overflow:hidden;padding:1rem;background-color: #f1f1f1;">
                                        <span class="glyphicon glyphicon-cog icon" style="padding:0.2rem;"><i class="fa-solid fa-gear"></i></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Great support</h4>
                                        <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer") %>